<section class="custom-banner" style="background-image: url({{ section.settings.background_image | image_url }})">
  <div class="container">
    <h1>{{ section.settings.heading }}</h1>
    <p>{{ section.settings.subheading }}</p>
    <a href="{{ section.settings.button_link }}" class="btn">
        <span class="btn-text">{{ section.settings.button_text }}</span>
        {% if section.settings.arrow_icon != blank %}
          <img  src="{{ section.settings.arrow_icon | image_url }}"  alt="arrow"  class="btn-arrow" >
        {% endif %}
    </a>
  </div>
</section>

{% schema %}
{
  "name": "Custom Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "image_picker",
      "id": "arrow_icon",
      "label": "Arrow Icon"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner"
    }
  ]

}
{% endschema %}

<style>
.custom-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 750px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 51px 67px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.custom-banner .container {
  max-width: 500px;
  height: auto;
}

/* Heading */
.custom-banner h1 {
   font-size: 70px;
   font-weight: 500;
   color: #000;
   margin-bottom: 15px;
   font-family: 'Jost';
   line-height: 100%;
   letter-spacing: 0;
}

/* Subheading */
.custom-banner p {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Jost';
    color: #000;
    line-height: 140%;
    letter-spacing: 0;
    margin: 50px 0;
}

/* Button */
.custom-banner .btn {
  display: inline-flex;
  align-items: center;
  gap: 29px;
  padding: 14px 25px 14px 55px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* Background animation layer */
.custom-banner .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #FFF544;
  transition: width 0.4s ease;
  z-index: -1;
}

/* Arrow */
.custom-banner .btn-arrow {
  width: 25px;
  height: 25px;
  object-fit: contain;
  transition: all 0.3s ease;
  filter: invert(0);
}

/* Hover effect */
.custom-banner .btn:hover::before {
  width: 100%;
}

.custom-banner .btn:hover {
  color: #000;
}

/* Arrow hover */
.custom-banner .btn:hover .btn-arrow {
  transform: translateX(6px);
    filter: invert(1);

}

/* ========================= */
/* 📱 Responsive */
/* ========================= */

@media (max-width: 1440px){
  .custom-banner h1 {
    font-size: 60px;
  }
}

@media (max-width: 1024px) {
  .custom-banner {
    padding: 50px 40px;
    height: 70vh;
  }

  .custom-banner h1 {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  .custom-banner {
    padding: 30px 20px;
    height: 60vh;
  }
  .custom-banner .container {
    max-width: 300px;  
   }

  .custom-banner h1 {
    font-size: 28px;
  }

  .custom-banner p {
    font-size: 14px;
  }

  .custom-banner .btn {
    padding: 12px 22px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .custom-banner {
    height: 55vh;
    padding: 20px 15px;
  }

  .custom-banner h1 {
    font-size: 24px;
  }
}
</style>