{% liquid
  assign collection = section.settings.collection
  assign max_items = section.settings.product_count
  assign columns = section.settings.columns
%}

<section class="featured-collection section-{{ section.id }}">

  {% if section.settings.title != blank %}
    <div class="section-header">
      <h2>{{ section.settings.title }}</h2>

      {% if section.settings.show_view_all and collection != blank %}
        <a href="{{ collection.url }}" class="view-all">View all</a>
      {% endif %}
    </div>
  {% endif %}

  <div class="product-grid">

    {% for product in collection.products limit: max_items %}

        <div class="product-card">

          <a href="{{ product.url }}" class="image-wrapper">
            <img src="{{ product.featured_image | image_url: width: 800 }}">
          </a>
        
          <!-- + BUTTON -->
          <button class="qv-btn" data-id="{{ product.id }}">+</button>
        
          <!-- PRODUCT JSON -->
          <script type="application/json" id="product-data-{{ product.id }}">
            {{ product | json }}
          </script>
        
        </div>

    {% endfor %}

  </div>

</section>

<div id="qv-modal" class="qv-modal">
    <div class="qv-box">
      <span class="qv-close">×</span>
        <div class="qv-grid">
            <div class="qv-left">
              <img id="qv-img">
              <div class="content-box">
                <h5 id="qv-title"></h5>
                <p id="qv-price"></p>
                <p id="qv-desc"></p>
              </div>
            </div>
            <div class="qv-right">
              <div class="qv-option">
                <label>Color</label>
                <div id="qv-colors"></div>
              </div>
              <div class="qv-option">
                <label>Size</label>
                <div class="size-box">
                  <span>Choose your size</span>
                  <select id="qv-size"></select>
                </div>
              </div>
      
              <form id="qv-form" method="post" action="/cart/add">
                <input type="hidden" name="id" id="qv-variant-id">
                <button type="submit" class="a-btn">ADD TO CART <span class="arrow"> → </span></button>
              </form>
      
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Custom Grid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_count",
      "min": 1,
      "max": 16,
      "step": 1,
      "default": 8,
      "label": "Product count"
    },
    {
      "type": "range",
      "id": "columns",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "Columns"
    },
    {
      "type": "range",
      "id": "gap",
      "min": 0,
      "max": 50,
      "step": 2,
      "default": 16,
      "label": "Gap"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "Show View All"
    }
  ],
  "presets": [
    {
      "name": "Custom Grid"
    }
  ]
}
{% endschema %}

<style>
  .featured-collection {
    padding: 40px;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .section-header h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 120%;
    font-family: 'Lustria';
    padding-bottom: 10px;
  }
  
  .view-all {
    font-size: 14px;
    text-decoration: underline;
  }
  
  .featured-collection {
    width: 100%;
    max-width: 100%;
  }
  
  .product-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
  }
  
  /* Shopify style responsive */
  @media(max-width: 990px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media(max-width: 600px) {
    .featured-collection {
      padding: 16px;
    }
    .product-grid {
      gap: 4px;
    }
  }
  
  .product-card {
    text-align: left;
  }
  
  .image-wrapper {
    display: block;
    aspect-ratio: 1/1.2;
    overflow: hidden;
  }
  
  .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
  }
  
  .product-card:hover img {
    transform: scale(1.05);
  }
  
  .product-info h3 {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .product-info p {
    font-size: 13px;
    opacity: 0.7;
  }
  
  .product-info {
     display: none;
  }
  
  .qv-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .qv-box {
    background: #fff;
    width: 320px;
    padding: 0 17px 25px;
    position: relative;
  }
  
  .qv-close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
  }
  
  .qv-right h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .qv-option {
    margin-top: 15px;
  }
  
  .a-btn {
    margin-top: 20px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px 25px 14px 25px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
  }
  .a-btn:hover{
    background: #fff;
    border: none;
    color: #000;
  }
  .a-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #FFF544;
    transition: width 0.5s ease;
    z-index: -1;
  }
  .a-btn:hover::before {
    width: 100%;
  }
  
  .qv-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #F8F8F8E5;
    background: #F8F8F8E5;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
  }
  
  .product-card {
    position: relative;
  }
  
  .qv-left {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    padding-top: 30px;
  }
  /* PRODUCT IMAGE */
  .qv-left img {
    width: 120px;
    height: 140px;
    object-fit: cover;
  }
  
  /* TITLE */
  #qv-title {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #111;
    line-height: 120%;
  }
  
  /* PRICE */
  #qv-price {
    font-size: 16px;
    font-weight: 400;
    color: #444;
    margin: 0;
  }
  
  /* DESCRIPTION */
  #qv-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 110%;
    color: #000;
    margin-top: 10px;
    letter-spacing: -1%;
  }
  
  /* MOBILE RESPONSIVE */
  @media (max-width: 768px) {
    #qv-title {
      font-size: 16px;
    }
  
    #qv-price {
      font-size: 14px;
    }
  
    #qv-desc {
      font-size: 12px;
    }
  }
  #qv-colors {
    display: flex;
    border: 1px solid #000;
  }
  #qv-colors button {
    position: relative;
    padding: 10px 16px;
    background: #fff;
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
    text-align: left;
    width: 50%;
    border: 0;
  }
  
  /* THICK COLOR LINE */
  #qv-colors button::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 5px;
    background: var(--swatch-color, #000);
  }
  
  /* white visibility fix */
  #qv-colors button[data-color="white"]::after {
    border: 0.5px solid #000;
    height: 100%;
    border-top: none;
    border-bottom: none;
  }

  .size-box {
    width: 100%;
    border: 0.5px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  #qv-size{
    border: 0;
    border-radius: 0;
    border-left: 0.5px solid #000;
    cursor: pointer;
    height: 40px;
    padding: 0 0 0 10px;
  }
  #qv-size:focus,
  #qv-size:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {

      const modal = document.getElementById("qv-modal");
    
      document.querySelectorAll(".qv-btn").forEach(btn => {
    
        btn.addEventListener("click", () => {
    
          const product = JSON.parse(
            document.getElementById(`product-data-${btn.dataset.id}`).textContent
          );
    
          modal.style.display = "flex";
    
          // BASIC DATA
          document.getElementById("qv-title").innerText = product.title;
          document.getElementById("qv-price").innerText = (product.price / 100).toFixed(2);
          document.getElementById("qv-img").src = product.images?.[0] || "";
          document.getElementById("qv-desc").innerHTML =
            (product.description || "").substring(0, 80) + "...";
    
          // VARIANTS
          const colorBox = document.getElementById("qv-colors");
          const sizeBox = document.getElementById("qv-size");
    
          colorBox.innerHTML = "";
          sizeBox.innerHTML = "";
    
          let selectedColor = null;
          let selectedSize = null;
    
          let colors = new Set();
          let sizes = new Set();
    
          product.variants.forEach(v => {
            if (v.option1) sizes.add(v.option1);
            if (v.option2) colors.add(v.option2);
          });
    
          // variant updater
          function updateVariantId() {
            const variant = product.variants.find(v => {
              return (!selectedColor || v.option2 === selectedColor) &&
                     (!selectedSize || v.option1 === selectedSize);
            }) || product.variants[0];
    
            document.getElementById("qv-variant-id").value = variant.id;
          }
    
          // COLORS

          /* COLOR MAPPING (REAL STORE SAFE) */
          const colorMap = {
            black: "#000000",
            white: "#ffffff",
            red: "#ff0000",
            blue: "#0000ff",
            green: "#008000",
            yellow: "#ffff00",
            grey: "#808080",
            gray: "#808080",
            beige: "#f5f5dc",
            ivory: "#fffff0",
            "ocean blue": "#4f8ef7",
            "dark blue": "#00008b"
          };
          
          // COLORS (LIMIT 2)
          const colorArray = Array.from(colors).slice(0, 2);
          
          colorArray.forEach((c, index) => {
            let b = document.createElement("button");
            b.type = "button";
            b.innerText = c;
          
            const colorKey = c.toLowerCase().trim();

            const colorValue = colorMap[colorKey] || colorKey;
          
            b.style.setProperty("--swatch-color", colorValue);

            b.setAttribute("data-color", colorKey);

            if (index === 0) {
              selectedColor = c;
              b.classList.add("active");
            }
          
            b.onclick = () => {
              selectedColor = c;
          
              document.querySelectorAll("#qv-colors button")
                .forEach(btn => btn.classList.remove("active"));
          
              b.classList.add("active");
          
              updateVariantId();
            };
          
            colorBox.appendChild(b);
          });

    
          // SIZES
          sizes.forEach((s, index) => {
            let opt = document.createElement("option");
            opt.value = s;
            opt.text = s;
    
            if (index === 0) selectedSize = s;
    
            sizeBox.appendChild(opt);
          });
    
          sizeBox.onchange = e => {
            selectedSize = e.target.value;
            updateVariantId();
          };
    
          // INIT
          updateVariantId();
    
        });
    
      });
    
      // CLOSE
      document.querySelector(".qv-close").onclick = () => {
        modal.style.display = "none";
      };
    
    });

</script>

